<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="FoodDelivery.Properties.Settings.foodDeliveryDBConnectionString"
   connectionString="workstation id=FoodDeliveryDB.mssql.somee.com;packet size=4096;user id=highlighttt_SQLLogin_1;pwd=b15at2v9g8;data source=FoodDeliveryDB.mssql.somee.com;persist security info=False;initial catalog=FoodDeliveryDB;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
