<?xml version="1.0" encoding="utf-8"?>
<CodeAnalysisRuleSet Name="CodeAnalysis" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <!-- Включение базовых правил -->
    <Rule Id="CA1000" Action="Warning" /> <!-- Предупреждения по использованию устаревших API -->
    <Rule Id="CA1305" Action="Warning" /> <!-- Локализация строк -->
    <Rule Id="CA1062" Action="Warning" /> <!-- Проверка на null для параметров методов -->
    <Rule Id="CA1707" Action="Warning" /> <!-- Правила именования -->
    <Rule Id="CA1801" Action="Warning" /> <!-- Неиспользуемые параметры методов -->
    <Rule Id="CA2211" Action="Warning" /> <!-- Обработка ошибок -->
    <Rule Id="CA2240" Action="Warning" /> <!-- Использование строк в коде -->
    
    <!-- Отключение некоторых правил, если они не нужны -->
    <Rule Id="CA1200" Action="None" /> <!-- Правила касающиеся имени типов -->
  </Rules>
  
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Включение правил StyleCop -->
    <Rule Id="SA1000" Action="Warning" /> <!-- Пробелы между ключевыми словами и символами -->
    <Rule Id="SA1200" Action="Warning" /> <!-- Правила для сортировки членов в классах -->
    <Rule Id="SA1300" Action="Warning" /> <!-- Именование типов -->
    <Rule Id="SA1600" Action="Warning" /> <!-- Комментарии для типов -->
    <Rule Id="SA1629" Action="Warning" /> <!-- Прописывание описания для параметров методов -->
  </Rules>
</CodeAnalysisRuleSet>
